html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}
.error{
 color: red;
}
.number-text{
    width: 50px;
}
